[submodule "humble_ws/src/moveit/moveit_resources"]
	path = humble_ws/src/moveit/moveit_resources
	url = https://github.com/ayushgnv/moveit_resources.git
	branch = isaacsim_moveit_tutorial
[submodule "jazzy_ws/src/moveit/moveit_resources"]
	path = jazzy_ws/src/moveit/moveit_resources
	url = https://github.com/ayushgnv/moveit_resources.git
	branch = isaac_moveit_tutorial_jazzy
[submodule "jazzy_ws/src/moveit/topic_based_ros2_control"]
	path = jazzy_ws/src/moveit/topic_based_ros2_control
	url = https://github.com/ayushgnv/topic_based_ros2_control.git
	branch = ayushg/isaacsim-windows-stability
[submodule "humble_ws/src/greenwave_monitor"]
	path = humble_ws/src/greenwave_monitor
	url = https://github.com/NVIDIA-ISAAC-ROS/greenwave_monitor.git
	branch = main
[submodule "jazzy_ws/src/greenwave_monitor"]
	path = jazzy_ws/src/greenwave_monitor
	url = https://github.com/NVIDIA-ISAAC-ROS/greenwave_monitor.git
	branch = main
[submodule "jazzy_ws/src/pal_statistics"]
	path = jazzy_ws/src/pal_statistics
	url = https://github.com/pal-robotics/pal_statistics.git
[submodule "jazzy_ws/src/ros2_control"]
	path = jazzy_ws/src/ros2_control
	url = https://github.com/ros-controls/ros2_control.git
[submodule "jazzy_ws/src/ros2_control_cmake"]
	path = jazzy_ws/src/ros2_control_cmake
	url = https://github.com/ros-controls/ros2_control_cmake.git
